{% extends 'core.html' %}

{% block content %}

<div class="creation-form-container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.title.label_tag }}
        {{ form.title }}
        <div>
            {{ form.content.label_tag }}
        </div>
        {{ form.content }}
        {{ form.image.label_tag }}
        {{ form.image }}
        <button class="submit-btn" type="submit">Post Blog</button>
    </form>
    
</div>

{% endblock %}

