{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Echoes</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'blog/style/main.css' %}" type="text/css">
</head>
<body>
    {% include 'nav.html' %}
    <main>
    {% block content %}
    
    {% endblock %}
    </main>
    {% include 'footer.html' %}
</body>
</html>